<%= stylesheet_link_tag 'elections', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
  <% @user.elections.each do |election| %>
    <%= render partial: 'elections', locals: { election: election } %>
  <% end %>
</div>
