<%= stylesheet_link_tag 'elections', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
  <% @user.election_data.each do |e| %>
    <% if e.winner %>
      <% election = e.winner.election %>
        <%= render partial: 'elections', locals: { election: election } %>
    <% end %>
  <% end %>
</div>