<div style="font-family: 'Oxanium', cursive; margin-top:10px">
<div class= "container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">election</th> 
        <th scope="col">request for</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      <% @user.send_requests.each do |request| %>
      <% if request.request_sender == current_user %>
      <tr>
          <td><%= request.election.title %></td>
          <td><%= request.purpose %></td>
          <td><%= request.status %></td>
          <td><%= link_to "delete", request_path(request.id), data: {method: :delete, confirm:"are you sure to delete request???"} %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>