<% if @election_data.present? %>
  <div style="margin-top:10px">
    <table class="table">
      <h5> Election Data </h5>
        <thead>
          <tr>
            <th scope="col">election</th>
            <th scope="col">candidate</th> 
            <th scope="col">votes</th>
            <th scope="col">manage</th>
          </tr>
        </thead>
        <tbody>
        <% @election_data.each do |ed| %>
          <tr>
            <td><%= ed.election.title %></td>
            <td><%= link_to ed.candidate_id, show_user_admin_path(ed.candidate_id) %></td>
            <td><%= ed.votes_count %></td>
            <td><%= link_to "delete", election_datum_path(ed.id), data: {method: :delete, confirm:"are you sure to delete???"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <P style="color:red">No Record Found!!!</p>
<% end %>