<div class="container" style="margin-top:10px">
<% if super_admin? %>
  <%= link_to :back do %>
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  <% end %>
  <h5><strong>All Requests</strong></h5>
  <%= render partial: 'requests',locals: { requests: @requests } %>
<% end %>
