<div style="margin-top:10px">
<%= link_to :back do %>
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
<% end %>
<h5><strong>Send Requests</strong></h5>
<%= render partial: 'requests',locals: { requests: @requests } %>