<% if @elections.present? %>
  <div class="container-fluid">
  <h5><strong>Elections</strong></h5>
    <% @elections.each do |election| %>
      <% if (election.approval_status == "approved" and !election_admin?(election)) or super_admin? %>
        <%= render partial: 'admin/elections', locals: { election: election } %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p style="color:red">No Record Found!!!</p>
<% end %>
