<%= stylesheet_link_tag 'elections', media: 'all', 'data-turbolinks-track': 'reload' %>
<% if @elections.present? %>
  <div class="container-fluid">
  <h5>Elections</h5>
    <% @elections.each do |election| %>
      <% if (election.approval_status == "approved" and current_user.id != election.admin_id) or current_user.has_role? :super_admin%>
        <%= render partial: 'admin/elections', locals: { election: election } %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p style="color:red">No Record Found!!!</p>
<% end %>
