<%= stylesheet_link_tag 'elections', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
  <% @elections.each do |election| %>
    <% if (election.approval_status == "approved" and current_user.id != election.admin_id) or current_user.has_role? :super_admin%>
      <%= render partial: 'admin/elections', locals: { election: election } %>
    <% end %>
  <% end %>
</div>

