<%= stylesheet_link_tag 'elections', media: 'all', 'data-turbolinks-track': 'reload' %>
<% if @elections.exists? %>
  <div class="container-fluid">
    <% @elections.each do |election| %>
      <% if election_admin?(election) %>
        <%= render partial: 'admin/elections', locals: { election: election } %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p style="color:red">No Record Found!!!</p>
<% end %>




