<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="election_form">
  <h2>Election Creation</h2>
  <p>Note: you can change any of details or time in future</p>
  <%= render partial: "form" %>   
</div>