<h1>Request Confirmed</h1>

<p>
  <%= @greeting %>, your request to be <%= @request.purpose %> in election <%= @request.election.title %> is approved.
  <% if @request.purpose == 'candidate'%>
    You need to confirm your payment before election from here <%= link_to "pay", payments_url %>
  <% end %>  
</p>
