* {
    font-family: 'Oxanium', cursive;
}

.custom-nav {
    background-color: white !important;
}

.message {
    color: red
}

.msg {
    width: 280px;
}

@import "font-awesome";
@import "middle_layout";
@import "login_form";
@import "election_form";