.outer {
    display: flex;
    justify-content: center;
    .card {
        margin: 20px 0px;
        padding: 10px;
        background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('Group 12@2x.jpg')!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        border-radius: 0.35rem;
        width: auto;
    }
    .no-bg-img {
        margin: 20px 0px;
        padding: 10px;
        border-radius: 0.35rem;
        width: auto;
    }
}