<div style="font-family: 'Oxanium', cursive; margin-top:10px">
<table class="table">
  <h3> Voting List</h3>
    <thead>
      <tr>
        <th scope="col">election</th>
        <th scope="col">voter</th>
        <th scope="col">time</th> 
      </tr>
    </thead>
    <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.election.title %></td>
        <td><%= link_to vote.voter_id , show_user_admin_path(vote.voter_id) %></td>
        <td><%= vote.created_at.strftime('%d %b %y %H:%M') %>
        <td><%= link_to "delete", voting_list_path(vote.id), data: {method: :delete, confirm:"are you sure to delete???"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>