<%= form_tag charges_path do %>
<article>
    <% if flash[:errors].present? %>
    <div id="error_explanation">
        <p><%= flash[:errors] %></p>
    </div>
    <% end %>
    <label class="amount">
        <span>Amount: 50INR</span>
    </label>
</article>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
data-description="A month's subscription"
data-amount=""
data-locale="auto"></script>
<% end %>